In [7]:
import pandas as pd

In [8]:
income_file = 'incomedata.csv'

In [16]:
income_df = pd.read_csv(income_file)
income_df.head(16)

,timeframe,ward2012,ward2012_nf,start_date,end_date,PctPoorPersons,PctPoorChildren,PctPoorElderly,AvgFamilyIncAdj,PctPoorPersons_m,PctPoorChildren_m,PctPoorElderly_m,AvgFamilyIncAdj_m,PctChgAvgFamilyIncAdj,Tanf_client,Fs_client
0,2012-16,Ward 1,1,01Jan2012,31Dec2016,14,25,19,134463,1.5,4.4,3.8,11508,X,X,X
1,2012-16,Ward 2,2,01Jan2012,31Dec2016,14,5.5,13,225994,1.4,5.8,4.1,24703,X,X,X
2,2012-16,Ward 3,3,01Jan2012,31Dec2016,9.4,2.8,3.9,281764,1.2,1.8,1.5,18626,X,X,X
3,2012-16,Ward 4,4,01Jan2012,31Dec2016,11,13,12,140497,1.3,2.3,2,8254,X,X,X
4,2012-16,Ward 5,5,01Jan2012,31Dec2016,18,18,17,97593,1.4,2.7,2.6,6156,X,X,X
5,2012-16,Ward 6,6,01Jan2012,31Dec2016,13,17,15,159151,1.3,3.5,2.7,9293,X,X,X
6,2012-16,Ward 7,7,01Jan2012,31Dec2016,28,41,19,62281,2.4,3.6,3,4556,X,X,X
7,2012-16,Ward 8,8,01Jan2012,31Dec2016,37,49,26,52422,2.3,2.5,3.7,4357,X,X,X
8,2000,Ward 1,1,01Jan2000,31Dec2000,22,35,26,83546,.,.,.,.,X,X,X
9,2000,Ward 2,2,01Jan2000,31Dec2000,18,24,19,211312,.,.,.,.,X,X,X
10,2000,Ward 3,3,01Jan2000,31Dec2000,7.4,2.9,4.4,269171,.,.,.,.,X,X,X
11,2000,Ward 4,4,01Jan2000,31Dec2000,12,16,11,117410,.,.,.,.,X,X,X
12,2000,Ward 5,5,01Jan2000,31Dec2000,20,28,16,78483,.,.,.,.,X,X,X
13,2000,Ward 6,6,01Jan2000,31Dec2000,21,35,25,92864,.,.,.,.,X,X,X
14,2000,Ward 7,7,01Jan2000,31Dec2000,25,37,18,64807,.,.,.,.,X,X,X
15,2000,Ward 8,8,01Jan2000,31Dec2000,35,46,23,51478,.,.,.,.,X,X,X

In [10]:
list(income_df.columns)

['timeframe',
 'ward2012',
 'ward2012_nf',
 'start_date',
 'end_date',
 'PctPoorPersons',
 'PctPoorChildren',
 'PctPoorElderly',
 'AvgFamilyIncAdj',
 'PctPoorPersons_m',
 'PctPoorChildren_m',
 'PctPoorElderly_m',
 'AvgFamilyIncAdj_m',
 'PctChgAvgFamilyIncAdj',
 'Tanf_client',
 'Fs_client']

In [17]:
avg_income_df = income_df.iloc[:,[0, 1, 4, 5, 6, 8]]
avg_income_df.head(16)

,timeframe,ward2012,end_date,PctPoorPersons,PctPoorChildren,AvgFamilyIncAdj
0,2012-16,Ward 1,31Dec2016,14,25,134463
1,2012-16,Ward 2,31Dec2016,14,5.5,225994
2,2012-16,Ward 3,31Dec2016,9.4,2.8,281764
3,2012-16,Ward 4,31Dec2016,11,13,140497
4,2012-16,Ward 5,31Dec2016,18,18,97593
5,2012-16,Ward 6,31Dec2016,13,17,159151
6,2012-16,Ward 7,31Dec2016,28,41,62281
7,2012-16,Ward 8,31Dec2016,37,49,52422
8,2000,Ward 1,31Dec2000,22,35,83546
9,2000,Ward 2,31Dec2000,18,24,211312
10,2000,Ward 3,31Dec2000,7.4,2.9,269171
11,2000,Ward 4,31Dec2000,12,16,117410
12,2000,Ward 5,31Dec2000,20,28,78483
13,2000,Ward 6,31Dec2000,21,35,92864
14,2000,Ward 7,31Dec2000,25,37,64807
15,2000,Ward 8,31Dec2000,35,46,51478