# Clean-up code to clean source data
----
Clean-up activity:
1. Clean dc census housing data - objective: mean house price and percent change by ward
2. Clean dc census income data - objective: mean income and percent change by ward
3. Clean dc population data - objective: mean population demographic and percent change by ward
4. Clean dc student data - objective: student population and school enrollment data by ward

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load source data
housing_file = "input/housing_data.csv"
income_file = "input/incomedata.csv"
population_file = "input/population_wd12.csv"
student_file = "input/Student_Data.csv"

### Activity 1: Clean DC census housing data - objective: mean house price and percent change by ward

In [3]:
#read housing csv as a dataframe
housing_data = pd.read_csv(housing_file, encoding="utf-8")

#preview data
housing_data.head()

,timeframe,ward2012,NumOccupiedHsgUnits,NumOccupiedHsgUnits_m,ward2012_nf,start_date,end_date,PctSameHouse5YearsAgo,PctVacantHsgUnitsForRent,PctOwnerOccupiedHsgUnits,...,NumMrtgOrigHomePurchPerUnit,PctSubprimeConvOrigHomePur,forecl_ssl_1Kpcl_sf_condo,forecl_ssl_sf_condo,trustee_ssl_1Kpcl_sf_condo,trustee_ssl_sf_condo,PctAnnChgRMPriceSf_1yr,PctAnnChgRMPriceSf_5yr,PctAnnChgRMPriceSf_10yr,indc
0,2000,Ward 1,30536,.,1,01Jan2000,31Dec2000,42,4.1,29,...,X,X,X,X,X,X,X,X,X,1
1,2000,Ward 2,34001,.,2,01Jan2000,31Dec2000,30,3.5,32,...,X,X,X,X,X,X,X,X,X,1
2,2000,Ward 3,37886,.,3,01Jan2000,31Dec2000,44,2.2,50,...,X,X,X,X,X,X,X,X,X,1
3,2000,Ward 4,29195,.,4,01Jan2000,31Dec2000,62,6.7,61,...,X,X,X,X,X,X,X,X,X,1
4,2000,Ward 5,28110,.,5,01Jan2000,31Dec2000,58,8.9,49,...,X,X,X,X,X,X,X,X,X,1

In [4]:
#clean housing data, only using timeframe, ward, start date, end date, and housing prices 

housing_clean = housing_data.iloc[[8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],[0,1,5,6,12]]
housing_clean = housing_clean.rename(columns={"timeframe":"Timeframe",
                                              "ward2012": "Ward", 
                                              "start_date": "Start Date", 
                                              "end_date": "End Date", 
                                              "mprice_sf": "Housing Price"})

#reset the dataframe index
housing_clean.reset_index(drop=True,inplace=True)

#print dataframe 
housing_clean

   Timeframe    Ward Start Date   End Date Housing Price
0       2000  Ward 1  01Jan2000  31Dec2000        154500
1       2000  Ward 2  01Jan2000  31Dec2000        500000
2       2000  Ward 3  01Jan2000  31Dec2000        455000
3       2000  Ward 4  01Jan2000  31Dec2000        156750
4       2000  Ward 5  01Jan2000  31Dec2000        124200
5       2000  Ward 6  01Jan2000  31Dec2000        159900
6       2000  Ward 7  01Jan2000  31Dec2000         93133
7       2000  Ward 8  01Jan2000  31Dec2000         96175
8       2016  Ward 1  01Jan2016  31Dec2016        801300
9       2016  Ward 2  01Jan2016  31Dec2016       1300000
10      2016  Ward 3  01Jan2016  31Dec2016       1172500
11      2016  Ward 4  01Jan2016  31Dec2016        649000
12      2016  Ward 5  01Jan2016  31Dec2016        545000
13      2016  Ward 6  01Jan2016  31Dec2016        759900
14      2016  Ward 7  01Jan2016  31Dec2016        299250
15      2016  Ward 8  01Jan2016  31Dec2016        288600

In [5]:
###create a new dataframe using wards and the percent change in housing prices###


#create new data frames by timeframe 
housing_clean = housing_clean.copy()

housing_2000 = housing_clean[housing_clean.Timeframe == "2000"]
housing_2000.rename(columns={"Housing Price": "Housing Price 2000"}, inplace = True)
housing_2000=housing_2000[['Ward', 'Housing Price 2000']]
housing_2000

housing_2016 = housing_clean[housing_clean.Timeframe == "2016"]
housing_2016.rename(columns={"Housing Price": "Housing Price 2016"}, inplace = True)
housing_2016=housing_2016[['Ward', 'Housing Price 2016']]
housing_2016

#merge data on Ward to have all the information in one data frame
merged_housing = pd.merge(housing_2000, housing_2016, on="Ward")
merged_housing

#convert price column datatype to integer
merged_housing[["Housing Price 2000", "Housing Price 2016"]] = \
                        merged_housing[["Housing Price 2000", "Housing Price 2016"]].apply(pd.to_numeric)
merged_housing.dtypes

#calculate percent change in housing price and add new column
merged_housing['% Change Housing Price'] = ((merged_housing['Housing Price 2016'] - merged_housing['Housing Price 2000'])
                                            / merged_housing['Housing Price 2000'] * 100)

#reformat % change column into percentage
merged_housing['% Change Housing Price'] = merged_housing['% Change Housing Price'].map("{0:,.2f}%".format)

#print dataframe
merged_housing

/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     Ward  Housing Price 2000  Housing Price 2016 % Change Housing Price
0  Ward 1              154500              801300                418.64%
1  Ward 2              500000             1300000                160.00%
2  Ward 3              455000             1172500                157.69%
3  Ward 4              156750              649000                314.04%
4  Ward 5              124200              545000                338.81%
5  Ward 6              159900              759900                375.23%
6  Ward 7               93133              299250                221.31%
7  Ward 8               96175              288600                200.08%

In [6]:
# export clean housing/pctchg data to csv

housing_clean.to_csv("clean/housing_clean.csv", index=False)
merged_housing.to_csv("clean/housing_pctchg.csv", index=False)

### Activity 2: Clean DC census income data - objective: mean income and percent change by ward

In [7]:
#read income csv as a dataframe
income_data = pd.read_csv(income_file, encoding="utf-8")

#preview data
income_data.head()

,timeframe,ward2012,ward2012_nf,start_date,end_date,PctPoorPersons,PctPoorChildren,PctPoorElderly,AvgFamilyIncAdj,PctPoorPersons_m,PctPoorChildren_m,PctPoorElderly_m,AvgFamilyIncAdj_m,PctChgAvgFamilyIncAdj,Tanf_client,Fs_client
0,2012-16,Ward 1,1,01Jan2012,31Dec2016,14,25,19,134463,1.5,4.4,3.8,11508,X,X,X
1,2012-16,Ward 2,2,01Jan2012,31Dec2016,14,5.5,13,225994,1.4,5.8,4.1,24703,X,X,X
2,2012-16,Ward 3,3,01Jan2012,31Dec2016,9.4,2.8,3.9,281764,1.2,1.8,1.5,18626,X,X,X
3,2012-16,Ward 4,4,01Jan2012,31Dec2016,11,13,12,140497,1.3,2.3,2,8254,X,X,X
4,2012-16,Ward 5,5,01Jan2012,31Dec2016,18,18,17,97593,1.4,2.7,2.6,6156,X,X,X

In [8]:
#clean income data, only using timeframe, ward, start date, end date, and income 
sub_income_df = income_data.iloc[:,[0, 1, 3, 4, 8]]
income_clean = sub_income_df.rename(columns={"timeframe":"Timeframe",
                                              "ward2012": "Ward", 
                                              "start_date": "Start Date", 
                                              "end_date": "End Date", 
                                              "AvgFamilyIncAdj": "Income"})

#reset the dataframe index
income_clean.reset_index(drop=True,inplace=True)
income_clean = income_clean[income_clean['Income'] != 'X']

#preview dataframe 
income_clean

   Timeframe    Ward Start Date   End Date  Income
0    2012-16  Ward 1  01Jan2012  31Dec2016  134463
1    2012-16  Ward 2  01Jan2012  31Dec2016  225994
2    2012-16  Ward 3  01Jan2012  31Dec2016  281764
3    2012-16  Ward 4  01Jan2012  31Dec2016  140497
4    2012-16  Ward 5  01Jan2012  31Dec2016   97593
5    2012-16  Ward 6  01Jan2012  31Dec2016  159151
6    2012-16  Ward 7  01Jan2012  31Dec2016   62281
7    2012-16  Ward 8  01Jan2012  31Dec2016   52422
8       2000  Ward 1  01Jan2000  31Dec2000   83546
9       2000  Ward 2  01Jan2000  31Dec2000  211312
10      2000  Ward 3  01Jan2000  31Dec2000  269171
11      2000  Ward 4  01Jan2000  31Dec2000  117410
12      2000  Ward 5  01Jan2000  31Dec2000   78483
13      2000  Ward 6  01Jan2000  31Dec2000   92864
14      2000  Ward 7  01Jan2000  31Dec2000   64807
15      2000  Ward 8  01Jan2000  31Dec2000   51478
16      1990  Ward 1  01Jan1990  31Dec1990   69004
17      1990  Ward 2  01Jan1990  31Dec1990  179071
18      1990  Ward 3  01Jan1990  31Dec1990  237972
19      1990  Ward 4  01Jan1990  31Dec1990  110646
20      1990  Ward 5  01Jan1990  31Dec1990   80019
21      1990  Ward 6  01Jan1990  31Dec1990   91815
22      1990  Ward 7  01Jan1990  31Dec1990   67593
23      1990  Ward 8  01Jan1990  31Dec1990   54077

In [9]:
###create a new dataframe using 2000 and 2016 wards and the percent change in income###


#create new data frames by timeframe 

income_2000 = income_clean[income_clean.Timeframe == "2000"] 
income_2000.rename(columns={"Income": "Income 2000"}, inplace = True)
income_2000=income_2000[['Ward', 'Income 2000']]
income_2000

income_2016 = income_clean[income_clean.Timeframe == "2012-16"]
income_2016.rename(columns={"Income": "Income 2016"}, inplace = True)
income_2016=income_2016[['Ward', 'Income 2016']]
income_2016

#merge data on Ward to have all the information in one data frame
merged_income = pd.merge(income_2000, income_2016, on="Ward")
merged_income

#convert income column datatype to integer
merged_income[["Income 2000", "Income 2016"]] = \
                        merged_income[["Income 2000", "Income 2016"]].apply(pd.to_numeric)
merged_income.dtypes

#calculate percent change in income and add new column
merged_income['% Change Income Price'] = ((merged_income['Income 2016'] - merged_income['Income 2000'])
                                            / merged_income['Income 2000'] * 100)

# #reformat % change column into percentage
merged_income['% Change Income Price'] = merged_income['% Change Income Price'].map("{0:,.2f}%".format)

#print dataframe
merged_income

     Ward  Income 2000  Income 2016 % Change Income Price
0  Ward 1        83546       134463                60.94%
1  Ward 2       211312       225994                 6.95%
2  Ward 3       269171       281764                 4.68%
3  Ward 4       117410       140497                19.66%
4  Ward 5        78483        97593                24.35%
5  Ward 6        92864       159151                71.38%
6  Ward 7        64807        62281                -3.90%
7  Ward 8        51478        52422                 1.83%

In [10]:
# export clean housing/pctchg data to csv

income_clean.to_csv("clean/income_clean.csv", index=False)
merged_income.to_csv("clean/income_pctchg.csv", index=False)

### Activity 2:  Additional step - merge income and housing pct chg data for future analysis

In [11]:
#merge housing and income chg pct files for data analysis
combine_pctchg_data = pd.merge(merged_housing, merged_income, on="Ward")

#print file
combine_pctchg_data

,Ward,Housing Price 2000,Housing Price 2016,% Change Housing Price,Income 2000,Income 2016,% Change Income Price
0,Ward 1,154500,801300,418.64%,83546,134463,60.94%
1,Ward 2,500000,1300000,160.00%,211312,225994,6.95%
2,Ward 3,455000,1172500,157.69%,269171,281764,4.68%
3,Ward 4,156750,649000,314.04%,117410,140497,19.66%
4,Ward 5,124200,545000,338.81%,78483,97593,24.35%
5,Ward 6,159900,759900,375.23%,92864,159151,71.38%
6,Ward 7,93133,299250,221.31%,64807,62281,-3.90%
7,Ward 8,96175,288600,200.08%,51478,52422,1.83%

In [12]:
# export clean housing/pctchg data to csv

combine_pctchg_data.to_csv("clean/census_pctchg_combined.csv", index=False)

### Activity 3: Clean DC population data - objective: mean population demographic and percent change by ward

In [13]:
#read income csv as a dataframe
population_data = pd.read_csv(population_file, encoding="utf-8")

#preview data
population_data.head()

,timeframe,ward2012,TotPop,TotPop_m,ward2012_nf,start_date,end_date,PctPopUnder18Years,PctPop65andOverYears,PctForeignBorn,...,PctForeignBorn_m,PctBlackNonHispBridge_m,PctWhiteNonHispBridge_m,PctHisp_m,PctAPINonHispBridge_m,PctFamiliesOwnChildFH_m,PctChgTotPop,PctChgPopUnder18Years,PctChgPop65andOverYear,indc
0,2016,Ward 1,83256,1945,1,1-Jan-12,31-Dec-16,12,7.5,22,...,1.3,1.4,1.2,1.6,0.6,4.8,X,X,X,1
1,2016,Ward 2,76459,1825,2,1-Jan-12,31-Dec-16,6,8.7,21,...,1.4,1,1.2,1.3,0.8,7.5,X,X,X,1
2,2016,Ward 3,82930,1689,3,1-Jan-12,31-Dec-16,16,17,19,...,1.2,1,1.3,1.1,0.7,2.7,X,X,X,1
3,2016,Ward 4,84120,1946,4,1-Jan-12,31-Dec-16,20,14,23,...,1.5,1.4,0.8,1.6,0.4,3.4,X,X,X,1
4,2016,Ward 5,85504,1995,5,1-Jan-12,31-Dec-16,18,14,12,...,1,1.5,1,1.3,0.4,3.6,X,X,X,1

In [14]:
#clean population data, only using timeframe, ward, start date, end date, and select population data
sub_population_df = population_data.iloc[:,[0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]
sub_population_df

# remove columns without population data
sub_population_df = sub_population_df[sub_population_df['TotPop'] != 'X']
sub_population_df

#categorize minority/non-minority population data
sub_population_df = sub_population_df.copy()

sub_population_df.dtypes

sub_population_df[["PctBlackNonHispBridge", "PctHisp", "PctAsianPINonHispBridge"]] = \
          sub_population_df[["PctBlackNonHispBridge", "PctHisp", "PctAsianPINonHispBridge"]].apply(pd.to_numeric)

sub_population_df['% Minority'] = sub_population_df[['PctBlackNonHispBridge', 'PctHisp', 
                               'PctAsianPINonHispBridge']].sum(axis=1)

#preview data
sub_population_df.head()

,timeframe,ward2012,TotPop,start_date,end_date,PctPopUnder18Years,PctPop65andOverYears,PctForeignBorn,PctBlackNonHispBridge,PctWhiteNonHispBridge,PctHisp,PctAsianPINonHispBridge,PctFamiliesOwnChildrenFH,PctPopUnder18Years_m,% Minority
0,2016,Ward 1,83256,1-Jan-12,31-Dec-16,12,7.5,22,29.0,45,19.0,4.7,39,0.9,52.7
1,2016,Ward 2,76459,1-Jan-12,31-Dec-16,6,8.7,21,8.8,67,11.0,8.9,17,0.7,28.7
2,2016,Ward 3,82930,1-Jan-12,31-Dec-16,16,17,19,6.7,73,10.0,6.3,13,0.9,23.0
3,2016,Ward 4,84120,1-Jan-12,31-Dec-16,20,14,23,53.0,22,20.0,2.1,29,1,75.1
4,2016,Ward 5,85504,1-Jan-12,31-Dec-16,18,14,12,67.0,19,9.2,2.1,48,1,78.3

In [15]:
#Tell pandas to keep data for 2010 and 2016 (complete data)
array = ['2000', '2016']
sub_population_df = sub_population_df.loc[sub_population_df['timeframe'].isin(array)]
sub_population_df.head()

,timeframe,ward2012,TotPop,start_date,end_date,PctPopUnder18Years,PctPop65andOverYears,PctForeignBorn,PctBlackNonHispBridge,PctWhiteNonHispBridge,PctHisp,PctAsianPINonHispBridge,PctFamiliesOwnChildrenFH,PctPopUnder18Years_m,% Minority
0,2016,Ward 1,83256,1-Jan-12,31-Dec-16,12,7.5,22,29.0,45,19.0,4.7,39,0.9,52.7
1,2016,Ward 2,76459,1-Jan-12,31-Dec-16,6,8.7,21,8.8,67,11.0,8.9,17,0.7,28.7
2,2016,Ward 3,82930,1-Jan-12,31-Dec-16,16,17,19,6.7,73,10.0,6.3,13,0.9,23.0
3,2016,Ward 4,84120,1-Jan-12,31-Dec-16,20,14,23,53.0,22,20.0,2.1,29,1,75.1
4,2016,Ward 5,85504,1-Jan-12,31-Dec-16,18,14,12,67.0,19,9.2,2.1,48,1,78.3

In [16]:
#rename columns
sub_population_df.rename(columns={"timeframe":"Timeframe",
                                  "ward2012": "Ward", 
                                  "start_date": "Start Date", 
                                  "end_date": "End Date",
                                  "TotPop": "Total Population",
                                  "PctPopUnder18Years":"% Under 18",
                                  "PctPop65andOverYears":"% 65+",
                                  "PctForeignBorn":"% Foreign Born",
                                  "PctWhiteNonHispBridge":"% Non-minority",
                                  "PctFamiliesOwnChildrenFH": "% Familes w/ Children"}, inplace=True)

sub_population_df

#reorganize columns in new dataframe
clean_pop_df=sub_population_df[['Timeframe', 'Ward', 'Start Date', 'End Date', 'Total Population', 
                '% Under 18','% 65+','% Foreign Born','% Minority', '% Non-minority', '% Familes w/ Children']]

clean_pop_df=clean_pop_df.copy()
clean_pop_df.sort_values(['Timeframe', 'Ward'], inplace=True)

#reset the dataframe index
clean_pop_df.reset_index(drop=True,inplace=True)


#preview dataframe 
clean_pop_df.head()

,Timeframe,Ward,Start Date,End Date,Total Population,% Under 18,% 65+,% Foreign Born,% Minority,% Non-minority,% Familes w/ Children
0,2000,Ward 1,1-Jan-00,31-Dec-00,71711,18,7.6,29,75.6,24,47
1,2000,Ward 2,1-Jan-00,31-Dec-00,63408,6.2,8.9,21,33.5,66,26
2,2000,Ward 3,1-Jan-00,31-Dec-00,75375,12,14,20,19.3,80,12
3,2000,Ward 4,1-Jan-00,31-Dec-00,75001,20,18,18,84.4,15,40
4,2000,Ward 5,1-Jan-00,31-Dec-00,71604,21,17,5.2,91.8,7.4,58

In [17]:
# export clean population data to csv

clean_pop_df.to_csv("clean/population_clean.csv", index=False)

### Activity 4: Clean DC student data - objective: student population and school enrollment data by ward

In [18]:
# Read with pandas into dataframe
student_df = pd.read_csv(student_file, encoding = 'iso-8859-1', low_memory=False)

# Inspect columns
list(student_df.columns)

['School ID',
 'School name',
 'Sector',
 'Grade band',
 'School Ward, 2016-17',
 'Opening or closing schools',
 'Racial and ethnic diversity score, 2014-15',
 'Racial and ethnic diversity score, 2016-17',
 'Most racially and ethnically diverse, 2016-17',
 'Economic diversity score, 2014-15',
 'Economic diversity score, 2016-17',
 'Most economically diverse, 2016-17',
 'Percent African American, 2014-15',
 'Percent Latino, 2014-15',
 'Percent white, 2014-15',
 'Percent other, 2014-15',
 'Plurality race or ethnicity, 2014-15',
 'Percent African American, 2016-17',
 'Percent Latino, 2016-17',
 'Percent white, 2016-17',
 'Percent other, 2016-17',
 'Plurality race or ethnicity, 2016-17',
 'Percent at-risk, 2014-15',
 'Percent not at-risk, 2014-15',
 'Plurality economic group, 2014-15',
 'Percent at-risk, 2016-17',
 'Percent not at-risk, 2016-17',
 'Plurality economic group, 2016-17',
 'Boundary participation rate, 2016-17',
 'Enrollment in PK-12, 2014-15',
 'School address, 2016-17',
 'Latitude, 2016-17',
 'Longitude, 2016-17',
 'Enrollment in PK-12, 2016-17',
 'Students living in Ward 1, 2016-17',
 'Students living in Ward 2, 2016-17',
 'Students living in Ward 3, 2016-17',
 'Students living in Ward 4, 2016-17',
 'Students living in Ward 5, 2016-17',
 'Students living in Ward 6, 2016-17',
 'Students living in Ward 7, 2016-17',
 'Students living in Ward 8, 2016-17',
 'Ward unknown, 2016-17',
 'Percent living in Ward of school, 2016-17',
 'Distance in miles to metro stop, 2016-17',
 'Change in race and ethnicity plurality group, 2014-15 to 2016-17',
 'Change in economic plurality group, 2014-15 to 2016-17',
 'Percentage point change in at-risk students, 2014-15 to 2016-17',
 'Percentage point change, African American (2014-15 to 2016-17)',
 'Percentage point change, Latino (2014-15 to 2016-17)',
 'Percentage point change, white (2014-15 to 2016-17)',
 'Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)',
 'Percentage point difference in economic diversity score over time (2014-15 to 2016-17)']

In [19]:
# Clean student data using subset of student data  

sub_student_df = student_df.iloc[:,[1, 2, 3, 4, 12, 13, 14, 15, 17, 18, 19, 20, 29, 33, 43, 45, 46, 51, 52]]
sub_student_df.head()

# sum non-white percentages for 2014-15 and 2016-17

sub_student_df = sub_student_df.copy()  

sub_student_df['% Non-white 2014-15'] = sub_student_df['Percent African American, 2014-15']\
                                   + sub_student_df['Percent Latino, 2014-15']\
                                   + sub_student_df['Percent other, 2014-15']

sub_student_df['% Non-white 2016-17'] = sub_student_df['Percent African American, 2016-17']\
                                   + sub_student_df['Percent Latino, 2016-17']\
                                   + sub_student_df['Percent other, 2016-17']              


#relable column headers
sub_student_df.rename(columns={"School Ward, 2016-17": "School Ward 2016-17",
                              "Percent white, 2014-15": "% White 2014-15",
                              "Percent white, 2016-17": "% White 2016-17",
                              "Enrollment in PK-12, 2014-15":"PK-12 Enrollment 2014-15", 
                              "Enrollment in PK-12, 2016-17":"PK-12 Enrollment 2016-17", 
                              "Percent living in Ward of school, 2016-17":"% living in School Ward 2016-17", 
                              "Change in race and ethnicity plurality group, 2014-15 to 2016-17": 
                              "% Change in Race/Ethnic Group between 2014-15 and 2016-17",
                              "Change in economic plurality group, 2014-15 to 2016-17":
                              "% Change in Economic Group between 2014-15 and 2016-17"}, inplace = True)

#preview data
sub_student_df.head()

,School name,Sector,Grade band,School Ward 2016-17,"Percent African American, 2014-15","Percent Latino, 2014-15",% White 2014-15,"Percent other, 2014-15","Percent African American, 2016-17","Percent Latino, 2016-17",...,"Percent other, 2016-17",PK-12 Enrollment 2014-15,PK-12 Enrollment 2016-17,% living in School Ward 2016-17,% Change in Race/Ethnic Group between 2014-15 and 2016-17,% Change in Economic Group between 2014-15 and 2016-17,Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17),Percentage point difference in economic diversity score over time (2014-15 to 2016-17),% Non-white 2014-15,% Non-white 2016-17
0,Achievement Preparatory Academy PCS Wahler Pla...,Charter,Elementary,Ward 8,1.00,0.00,NaN,0.00,0.97,0.02,...,0.00,267.0,464.0,0.76,0.0,1.0,0.03,-0.04,1.00,0.99
1,Achievement Preparatory Academy PCS Wahler Pla...,Charter,Middle,Ward 8,0.99,0.00,NaN,0.00,0.97,0.03,...,0.00,381.0,468.0,0.76,0.0,0.0,0.02,0.00,0.99,1.00
2,Aiton ES,DCPS,Elementary,Ward 7,1.00,NaN,0.00,0.00,1.00,0.00,...,0.00,262.0,251.0,0.90,0.0,0.0,0.00,0.02,NaN,1.00
3,Amidon Bowen ES,DCPS,Elementary/Middle,Ward 6,0.88,0.05,0.03,0.03,0.88,0.04,...,0.04,345.0,350.0,0.75,0.0,0.0,0.00,0.05,0.96,0.96
4,Anacostia HS,DCPS,High,Ward 8,1.00,NaN,0.00,0.00,0.99,0.01,...,0.00,661.0,449.0,0.64,0.0,0.0,0.01,0.05,NaN,1.00

In [20]:
#create new data frame with revised columns
new_student_df=sub_student_df[['School Ward 2016-17', 'Sector', 'School name', 'Grade band', '% Non-white 2014-15',
                              '% White 2014-15','% Non-white 2016-17','% White 2016-17','PK-12 Enrollment 2014-15', 
                              'PK-12 Enrollment 2016-17','% living in School Ward 2016-17',
                              '% Change in Race/Ethnic Group between 2014-15 and 2016-17',
                              '% Change in Economic Group between 2014-15 and 2016-17']]

#reset dataframe index
new_student_df = new_student_df.reset_index(drop=True)

#preview data
new_student_df.head()

,School Ward 2016-17,Sector,School name,Grade band,% Non-white 2014-15,% White 2014-15,% Non-white 2016-17,% White 2016-17,PK-12 Enrollment 2014-15,PK-12 Enrollment 2016-17,% living in School Ward 2016-17,% Change in Race/Ethnic Group between 2014-15 and 2016-17,% Change in Economic Group between 2014-15 and 2016-17
0,Ward 8,Charter,Achievement Preparatory Academy PCS Wahler Pla...,Elementary,1.00,NaN,0.99,0.01,267.0,464.0,0.76,0.0,1.0
1,Ward 8,Charter,Achievement Preparatory Academy PCS Wahler Pla...,Middle,0.99,NaN,1.00,NaN,381.0,468.0,0.76,0.0,0.0
2,Ward 7,DCPS,Aiton ES,Elementary,NaN,0.00,1.00,NaN,262.0,251.0,0.90,0.0,0.0
3,Ward 6,DCPS,Amidon Bowen ES,Elementary/Middle,0.96,0.03,0.96,0.05,345.0,350.0,0.75,0.0,0.0
4,Ward 8,DCPS,Anacostia HS,High,NaN,0.00,1.00,NaN,661.0,449.0,0.64,0.0,0.0

### Sort #1 - sort data by ward and sector

In [21]:
#sort student data by ward and sector
sorted_ward_sector = new_student_df.sort_values(['School Ward 2016-17','Sector']).reset_index(drop=True)

#preview data
sorted_ward_sector.head()

,School Ward 2016-17,Sector,School name,Grade band,% Non-white 2014-15,% White 2014-15,% Non-white 2016-17,% White 2016-17,PK-12 Enrollment 2014-15,PK-12 Enrollment 2016-17,% living in School Ward 2016-17,% Change in Race/Ethnic Group between 2014-15 and 2016-17,% Change in Economic Group between 2014-15 and 2016-17
0,Ward 1,Charter,AppleTree Early Learning Center PCS Columbia H...,Early Childhood,0.79,0.21,0.83,0.16,163.0,160.0,0.49,0.0,0.0
1,Ward 1,Charter,Cesar Chavez PCS for Public Policy Chavez Prep,Middle/High,1.00,NaN,1.00,0.00,331.0,306.0,0.53,0.0,0.0
2,Ward 1,Charter,District of Columbia International School,Middle/High,0.87,0.13,0.85,0.15,210.0,520.0,0.22,0.0,0.0
3,Ward 1,Charter,EL Haynes PCS Middle School,Middle,0.95,0.05,0.98,0.02,377.0,348.0,0.23,1.0,0.0
4,Ward 1,Charter,Howard University Middle School of Mathematics...,Middle,1.00,0.00,1.00,NaN,294.0,278.0,0.11,0.0,0.0

In [22]:
# Remove rows with missing data
clean_ward_sector_df = sorted_ward_sector.dropna(how="any")

#export file to csv
clean_ward_sector_df.to_csv("clean/studentbyward.csv", index=False)

#review column row counts
clean_ward_sector_df.count()

School Ward 2016-17                                          90
Sector                                                       90
School name                                                  90
Grade band                                                   90
% Non-white 2014-15                                          90
% White 2014-15                                              90
% Non-white 2016-17                                          90
% White 2016-17                                              90
PK-12 Enrollment 2014-15                                     90
PK-12 Enrollment 2016-17                                     90
% living in School Ward 2016-17                              90
% Change in Race/Ethnic Group between 2014-15 and 2016-17    90
% Change in Economic Group between 2014-15 and 2016-17       90
dtype: int64

### Sort #2 - sort data by sector and ward

In [23]:
#sort student data by sector and ward and reset the data index
sorted_sector_ward = new_student_df.sort_values(['Sector','School Ward 2016-17']).reset_index(drop=True)

#preview the data
sorted_sector_ward.head()

,School Ward 2016-17,Sector,School name,Grade band,% Non-white 2014-15,% White 2014-15,% Non-white 2016-17,% White 2016-17,PK-12 Enrollment 2014-15,PK-12 Enrollment 2016-17,% living in School Ward 2016-17,% Change in Race/Ethnic Group between 2014-15 and 2016-17,% Change in Economic Group between 2014-15 and 2016-17
0,Ward 1,Charter,AppleTree Early Learning Center PCS Columbia H...,Early Childhood,0.79,0.21,0.83,0.16,163.0,160.0,0.49,0.0,0.0
1,Ward 1,Charter,Cesar Chavez PCS for Public Policy Chavez Prep,Middle/High,1.00,NaN,1.00,0.00,331.0,306.0,0.53,0.0,0.0
2,Ward 1,Charter,District of Columbia International School,Middle/High,0.87,0.13,0.85,0.15,210.0,520.0,0.22,0.0,0.0
3,Ward 1,Charter,EL Haynes PCS Middle School,Middle,0.95,0.05,0.98,0.02,377.0,348.0,0.23,1.0,0.0
4,Ward 1,Charter,Howard University Middle School of Mathematics...,Middle,1.00,0.00,1.00,NaN,294.0,278.0,0.11,0.0,0.0

In [24]:
# Remove the rows with missing data
clean_sector_ward_df = sorted_sector_ward.dropna(how="any")

#export file to csv file
clean_sector_ward_df.to_csv("clean/studentbysector.csv", index=False)

#review column row counts
clean_sector_ward_df.count()

School Ward 2016-17                                          90
Sector                                                       90
School name                                                  90
Grade band                                                   90
% Non-white 2014-15                                          90
% White 2014-15                                              90
% Non-white 2016-17                                          90
% White 2016-17                                              90
PK-12 Enrollment 2014-15                                     90
PK-12 Enrollment 2016-17                                     90
% living in School Ward 2016-17                              90
% Change in Race/Ethnic Group between 2014-15 and 2016-17    90
% Change in Economic Group between 2014-15 and 2016-17       90
dtype: int64

### Format the sorted dataframes and Export data to excel

In [25]:
#reformat the sorted ward/sector data and export to data

clean_ward_sector_df = clean_ward_sector_df.copy() 

clean_ward_sector_df["% Non-white 2014-15"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_ward_sector_df['% Non-white 2014-15']])

clean_ward_sector_df["% White 2014-15"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_ward_sector_df["% White 2014-15"]])

clean_ward_sector_df["% Non-white 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_ward_sector_df["% Non-white 2016-17"]])

clean_ward_sector_df["% White 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_ward_sector_df["% White 2016-17"]])

clean_ward_sector_df["% living in School Ward 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_ward_sector_df["% living in School Ward 2016-17"]])

clean_ward_sector_df["% Change in Race/Ethnic Group between 2014-15 and 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_ward_sector_df["% Change in Race/Ethnic Group between 2014-15 and 2016-17"]])

clean_ward_sector_df["% Change in Economic Group between 2014-15 and 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_ward_sector_df["% Change in Economic Group between 2014-15 and 2016-17"]])



#preview data
clean_ward_sector_df.head()

,School Ward 2016-17,Sector,School name,Grade band,% Non-white 2014-15,% White 2014-15,% Non-white 2016-17,% White 2016-17,PK-12 Enrollment 2014-15,PK-12 Enrollment 2016-17,% living in School Ward 2016-17,% Change in Race/Ethnic Group between 2014-15 and 2016-17,% Change in Economic Group between 2014-15 and 2016-17
0,Ward 1,Charter,AppleTree Early Learning Center PCS Columbia H...,Early Childhood,79.00%,21.00%,83.00%,16.00%,163.0,160.0,49.00%,0.00%,0.00%
2,Ward 1,Charter,District of Columbia International School,Middle/High,95.00%,5.00%,98.00%,2.00%,210.0,520.0,23.00%,100.00%,0.00%
3,Ward 1,Charter,EL Haynes PCS Middle School,Middle,98.00%,2.00%,99.00%,2.00%,377.0,348.0,45.00%,0.00%,0.00%
5,Ward 1,Charter,Meridian PCS,Elementary/Middle,97.00%,2.00%,95.00%,5.00%,639.0,692.0,55.00%,0.00%,100.00%
6,Ward 1,DCPS,Bancroft ES at Sharpe,Elementary,96.00%,3.00%,100.00%,1.00%,508.0,530.0,37.00%,100.00%,0.00%
8,Ward 1,DCPS,Bruce Monroe ES at Park View,Elementary,92.00%,8.00%,94.00%,6.00%,465.0,473.0,8.00%,0.00%,0.00%
9,Ward 1,DCPS,Cardozo EC,Middle/High,97.00%,2.00%,97.00%,4.00%,781.0,796.0,77.00%,0.00%,0.00%
10,Ward 1,DCPS,Cleveland ES,Elementary,92.00%,7.00%,88.00%,12.00%,308.0,321.0,56.00%,0.00%,0.00%
12,Ward 1,DCPS,Duke Ellington School of the Arts,High,60.00%,40.00%,62.00%,39.00%,523.0,502.0,8.00%,100.00%,0.00%
13,Ward 1,DCPS,H D Cooke ES,Elementary,90.00%,10.00%,87.00%,13.00%,400.0,420.0,21.00%,0.00%,0.00%
14,Ward 1,DCPS,Marie Reed ES at MacFarland,Elementary,86.00%,13.00%,84.00%,17.00%,393.0,398.0,7.00%,0.00%,0.00%
15,Ward 1,DCPS,Tubman ES,Elementary,55.00%,44.00%,55.00%,44.00%,498.0,542.0,46.00%,0.00%,0.00%
16,Ward 2,Charter,BASIS DC PCS,Middle/High,83.00%,16.00%,79.00%,22.00%,551.0,597.0,33.00%,0.00%,0.00%
18,Ward 2,DCPS,Garrison ES,Elementary,95.00%,3.00%,95.00%,5.00%,244.0,253.0,52.00%,0.00%,0.00%
19,Ward 2,DCPS,Hardy MS,Middle,55.00%,45.00%,54.00%,47.00%,386.0,374.0,41.00%,0.00%,0.00%
20,Ward 2,DCPS,Hyde Addison ES,Elementary,53.00%,47.00%,53.00%,47.00%,305.0,329.0,61.00%,0.00%,0.00%
22,Ward 2,DCPS,School Without Walls at Francis Stevens,Elementary/Middle,36.00%,64.00%,40.00%,59.00%,414.0,471.0,74.00%,0.00%,0.00%
23,Ward 2,DCPS,School Without Walls HS,High,72.00%,28.00%,71.00%,30.00%,590.0,584.0,35.00%,0.00%,0.00%
24,Ward 2,DCPS,Thomson ES,Elementary,35.00%,66.00%,35.00%,65.00%,272.0,313.0,80.00%,0.00%,0.00%
25,Ward 3,DCPS,Deal MS,Middle,74.00%,25.00%,70.00%,31.00%,1312.0,1476.0,34.00%,0.00%,0.00%
26,Ward 3,DCPS,Eaton ES,Elementary,82.00%,18.00%,88.00%,12.00%,475.0,477.0,57.00%,0.00%,0.00%
27,Ward 3,DCPS,Hearst ES,Elementary,93.00%,7.00%,92.00%,8.00%,291.0,312.0,53.00%,0.00%,0.00%
31,Ward 3,DCPS,Murch ES,Elementary,73.00%,26.00%,75.00%,26.00%,620.0,572.0,48.00%,0.00%,0.00%
32,Ward 3,DCPS,Oyster Adams Bilingual School,Elementary/Middle,99.00%,0.00%,100.00%,0.00%,650.0,674.0,47.00%,0.00%,100.00%
33,Ward 3,DCPS,Stoddert ES,Elementary,84.00%,15.00%,82.00%,19.00%,418.0,435.0,36.00%,0.00%,0.00%
34,Ward 3,DCPS,Wilson HS,High,44.00%,55.00%,57.00%,44.00%,1788.0,1749.0,23.00%,0.00%,0.00%
37,Ward 4,Charter,Capital City PCS Lower School,Elementary,98.00%,1.00%,100.00%,1.00%,322.0,325.0,94.00%,0.00%,0.00%
38,Ward 4,Charter,Capital City PCS Middle School,Middle,30.00%,70.00%,30.00%,70.00%,320.0,325.0,73.00%,0.00%,0.00%
39,Ward 4,Charter,Center City PCS Brightwood,Elementary/Middle,96.00%,5.00%,94.00%,6.00%,248.0,276.0,82.00%,0.00%,0.00%
41,Ward 4,Charter,EL Haynes PCS Elementary School,Elementary,99.00%,1.00%,99.00%,1.00%,358.0,345.0,55.00%,0.00%,0.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Ward 5,DCPS,Langley ES,Elementary/Middle,NaN,NaN,NaN,NaN,289.0,284.0,NaN,NaN,NaN
106,Ward 5,DCPS,Phelps Architecture Construction and Engineeri...,High,NaN,NaN,NaN,NaN,323.0,328.0,NaN,NaN,NaN
109,Ward 6,Charter,AppleTree Early Learning Center PCS Southwest,Early Childhood,NaN,NaN,NaN,NaN,86.0,108.0,NaN,NaN,NaN
111,Ward 6,Charter,Center City PCS Shaw,Elementary/Middle,NaN,NaN,NaN,NaN,241.0,234.0,NaN,NaN,NaN
113,Ward 6,Charter,Eagle Academy PCS Capitol Riverfront,Elementary,NaN,NaN,NaN,NaN,146.0,144.0,NaN,NaN,NaN
119,Ward 6,Charter,KIPP DC WILL Academy PCS,Middle,NaN,NaN,NaN,NaN,344.0,346.0,NaN,NaN,NaN
122,Ward 6,Charter,Two Rivers PCS 4th St,Elementary/Middle,NaN,NaN,NaN,NaN,518.0,527.0,NaN,NaN,NaN
124,Ward 6,DCPS,Amidon Bowen ES,Elementary/Middle,NaN,NaN,NaN,NaN,345.0,350.0,NaN,NaN,NaN
125,Ward 6,DCPS,Brent ES,Elementary,NaN,NaN,NaN,NaN,368.0,404.0,NaN,NaN,NaN
126,Ward 6,DCPS,Capitol Hill Montessori School at Logan,Elementary/Middle,NaN,NaN,NaN,NaN,310.0,361.0,NaN,NaN,NaN
128,Ward 6,DCPS,Eliot Hine MS,Middle,NaN,NaN,NaN,NaN,257.0,200.0,NaN,NaN,NaN
129,Ward 6,DCPS,J O Wilson ES,Elementary,NaN,NaN,NaN,NaN,466.0,495.0,NaN,NaN,NaN
131,Ward 6,DCPS,Ludlow Taylor ES,Elementary,NaN,NaN,NaN,NaN,340.0,373.0,NaN,NaN,NaN
132,Ward 6,DCPS,Maury ES,Elementary,NaN,NaN,NaN,NaN,366.0,387.0,NaN,NaN,NaN
133,Ward 6,DCPS,Miner ES,Elementary,NaN,NaN,NaN,NaN,398.0,384.0,NaN,NaN,NaN
134,Ward 6,DCPS,Payne ES,Elementary,NaN,NaN,NaN,NaN,277.0,300.0,NaN,NaN,NaN
135,Ward 6,DCPS,Peabody ES Capitol Hill Cluster,Early Childhood,NaN,NaN,NaN,NaN,227.0,230.0,NaN,NaN,NaN
136,Ward 6,DCPS,School Within School at Goding,Elementary,NaN,NaN,NaN,NaN,248.0,307.0,NaN,NaN,NaN
137,Ward 6,DCPS,Seaton ES,Elementary,NaN,NaN,NaN,NaN,295.0,341.0,NaN,NaN,NaN
138,Ward 6,DCPS,Stuart Hobson MS Capitol Hill Cluster,Middle,NaN,NaN,NaN,NaN,423.0,431.0,NaN,NaN,NaN
139,Ward 6,DCPS,Tyler ES,Elementary,NaN,NaN,NaN,NaN,522.0,514.0,NaN,NaN,NaN
141,Ward 6,DCPS,Walker Jones EC,Elementary/Middle,NaN,NaN,NaN,NaN,465.0,451.0,NaN,NaN,NaN
142,Ward 6,DCPS,Watkins ES Capitol Hill Cluster,Elementary,NaN,NaN,NaN,NaN,500.0,436.0,NaN,NaN,NaN
157,Ward 7,Charter,KIPP DC Quest Academy PCS,Elementary,NaN,NaN,NaN,NaN,282.0,365.0,NaN,NaN,NaN
165,Ward 7,DCPS,Houston ES,Elementary,NaN,NaN,NaN,NaN,279.0,299.0,NaN,NaN,NaN
168,Ward 7,DCPS,Nalle ES,Elementary,NaN,NaN,NaN,NaN,384.0,391.0,NaN,NaN,NaN
180,Ward 8,Charter,Center City PCS Congress Heights,Elementary/Middle,NaN,NaN,NaN,NaN,257.0,253.0,NaN,NaN,NaN
185,Ward 8,Charter,Excel Academy PCS,Elementary/Middle,NaN,NaN,NaN,NaN,155.0,702.0,NaN,NaN,NaN
207,Ward 8,DCPS,Leckie ES,Elementary/Middle,NaN,NaN,NaN,NaN,478.0,552.0,NaN,NaN,NaN
212,Ward 8,DCPS,Simon ES,Elementary,NaN,NaN,NaN,NaN,293.0,276.0,NaN,NaN,NaN

In [26]:
#reformat the sorted sector/ward data 

clean_sector_ward_df = clean_sector_ward_df.copy()

clean_sector_ward_df["% Non-white 2014-15"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_sector_ward_df['% Non-white 2014-15']])

clean_sector_ward_df["% White 2014-15"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_sector_ward_df["% White 2014-15"]])

clean_sector_ward_df["% Non-white 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_sector_ward_df["% Non-white 2016-17"]])

clean_sector_ward_df["% White 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_sector_ward_df["% White 2016-17"]])

clean_sector_ward_df["% living in School Ward 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_sector_ward_df["% living in School Ward 2016-17"]])

clean_sector_ward_df["% Change in Race/Ethnic Group between 2014-15 and 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_sector_ward_df["% Change in Race/Ethnic Group between 2014-15 and 2016-17"]])

clean_sector_ward_df["% Change in Economic Group between 2014-15 and 2016-17"] = pd.Series(["{0:.2f}%".format(val * 100) for val in clean_sector_ward_df["% Change in Economic Group between 2014-15 and 2016-17"]])


#preview data
clean_sector_ward_df.head()

,School Ward 2016-17,Sector,School name,Grade band,% Non-white 2014-15,% White 2014-15,% Non-white 2016-17,% White 2016-17,PK-12 Enrollment 2014-15,PK-12 Enrollment 2016-17,% living in School Ward 2016-17,% Change in Race/Ethnic Group between 2014-15 and 2016-17,% Change in Economic Group between 2014-15 and 2016-17
0,Ward 1,Charter,AppleTree Early Learning Center PCS Columbia H...,Early Childhood,79.00%,21.00%,83.00%,16.00%,163.0,160.0,49.00%,0.00%,0.00%
2,Ward 1,Charter,District of Columbia International School,Middle/High,95.00%,5.00%,98.00%,2.00%,210.0,520.0,23.00%,100.00%,0.00%
3,Ward 1,Charter,EL Haynes PCS Middle School,Middle,98.00%,2.00%,99.00%,2.00%,377.0,348.0,45.00%,0.00%,0.00%
5,Ward 1,Charter,Meridian PCS,Elementary/Middle,82.00%,18.00%,88.00%,12.00%,639.0,692.0,57.00%,0.00%,0.00%
6,Ward 2,Charter,BASIS DC PCS,Middle/High,93.00%,7.00%,92.00%,8.00%,551.0,597.0,53.00%,0.00%,0.00%
10,Ward 4,Charter,Capital City PCS Lower School,Elementary,73.00%,26.00%,75.00%,26.00%,322.0,325.0,48.00%,0.00%,0.00%
11,Ward 4,Charter,Capital City PCS Middle School,Middle,99.00%,0.00%,100.00%,0.00%,320.0,325.0,47.00%,0.00%,100.00%
12,Ward 4,Charter,Center City PCS Brightwood,Elementary/Middle,84.00%,15.00%,82.00%,19.00%,248.0,276.0,36.00%,0.00%,0.00%
14,Ward 4,Charter,EL Haynes PCS Elementary School,Elementary,64.00%,36.00%,69.00%,32.00%,358.0,345.0,26.00%,0.00%,0.00%
18,Ward 4,Charter,Ideal Academy PCS,Elementary/Middle,91.00%,8.00%,93.00%,7.00%,297.0,300.0,28.00%,0.00%,0.00%
19,Ward 4,Charter,Latin American Montessori Bilingual PCS,Elementary,83.00%,17.00%,80.00%,21.00%,342.0,426.0,59.00%,0.00%,0.00%
20,Ward 4,Charter,Paul PCS International High School,High,100.00%,0.00%,100.00%,1.00%,325.0,487.0,52.00%,0.00%,0.00%
23,Ward 4,Charter,Sela PCS,Elementary,97.00%,4.00%,99.00%,2.00%,86.0,177.0,50.00%,0.00%,0.00%
24,Ward 4,Charter,Washington Latin PCS Middle School,Middle,70.00%,30.00%,68.00%,32.00%,366.0,362.0,22.00%,0.00%,0.00%
25,Ward 4,Charter,Washington Latin PCS Upper School,High,99.00%,0.00%,99.00%,1.00%,304.0,335.0,57.00%,0.00%,0.00%
26,Ward 5,Charter,Bridges PCS,Elementary,69.00%,29.00%,73.00%,27.00%,272.0,328.0,34.00%,0.00%,0.00%
28,Ward 5,Charter,City Arts & Prep PCS,Elementary/Middle,91.00%,8.00%,96.00%,4.00%,439.0,522.0,37.00%,0.00%,0.00%
29,Ward 5,Charter,Creative Minds International PCS,Elementary/Middle,100.00%,0.00%,99.00%,0.00%,181.0,341.0,35.00%,0.00%,100.00%
30,Ward 5,Charter,DC Bilingual PCS,Elementary,96.00%,3.00%,96.00%,4.00%,364.0,410.0,37.00%,0.00%,0.00%
33,Ward 5,Charter,Elsie Whitlow Stokes Community Freedom PCS,Elementary,100.00%,0.00%,100.00%,0.00%,350.0,350.0,73.00%,0.00%,0.00%
36,Ward 5,Charter,Friendship PCS Woodridge Middle School,Middle,87.00%,11.00%,84.00%,16.00%,168.0,199.0,77.00%,0.00%,0.00%
39,Ward 5,Charter,Inspired Teaching Demonstration PCS,Elementary/Middle,97.00%,3.00%,95.00%,4.00%,317.0,414.0,23.00%,0.00%,0.00%
44,Ward 5,Charter,Lee Montessori PCS,Elementary,90.00%,10.00%,87.00%,13.00%,74.0,145.0,21.00%,0.00%,0.00%
45,Ward 5,Charter,Mary McLeod Bethune Day Academy PCS,Elementary/Middle,86.00%,13.00%,84.00%,17.00%,381.0,402.0,7.00%,0.00%,0.00%
46,Ward 5,Charter,Mundo Verde Bilingual PCS,Elementary,55.00%,44.00%,55.00%,44.00%,404.0,563.0,46.00%,0.00%,0.00%
47,Ward 5,Charter,Perry Street Preparatory PCS,Elementary/Middle,83.00%,16.00%,79.00%,22.00%,619.0,306.0,33.00%,0.00%,0.00%
48,Ward 5,Charter,Shining Stars Montessori Academy PCS,Elementary,63.00%,37.00%,58.00%,42.00%,118.0,203.0,4.00%,100.00%,0.00%
53,Ward 5,Charter,Washington Yu Ying PCS,Elementary,36.00%,64.00%,40.00%,59.00%,528.0,571.0,74.00%,0.00%,0.00%
55,Ward 6,Charter,AppleTree Early Learning Center PCS Southwest,Early Childhood,35.00%,66.00%,35.00%,65.00%,86.0,108.0,80.00%,0.00%,0.00%
57,Ward 6,Charter,Center City PCS Shaw,Elementary/Middle,98.00%,1.00%,98.00%,2.00%,241.0,234.0,75.00%,100.00%,0.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Ward 4,DCPS,Powell ES,Elementary,NaN,NaN,NaN,NaN,446.0,534.0,NaN,NaN,NaN
150,Ward 4,DCPS,Raymond EC,Elementary/Middle,NaN,NaN,NaN,NaN,581.0,613.0,NaN,NaN,NaN
151,Ward 4,DCPS,Roosevelt HS,High,NaN,NaN,NaN,NaN,476.0,667.0,NaN,NaN,NaN
152,Ward 4,DCPS,Shepherd ES,Elementary,NaN,NaN,NaN,NaN,318.0,360.0,NaN,NaN,NaN
153,Ward 4,DCPS,Takoma EC,Elementary/Middle,NaN,NaN,NaN,NaN,442.0,468.0,NaN,NaN,NaN
154,Ward 4,DCPS,Truesdell EC,Elementary/Middle,NaN,NaN,NaN,NaN,526.0,679.0,NaN,NaN,NaN
155,Ward 4,DCPS,West EC,Elementary/Middle,NaN,NaN,NaN,NaN,267.0,315.0,NaN,NaN,NaN
161,Ward 5,DCPS,Dunbar HS,Middle/High,NaN,NaN,NaN,NaN,653.0,584.0,NaN,NaN,NaN
163,Ward 5,DCPS,Langley ES,Elementary/Middle,NaN,NaN,NaN,NaN,289.0,284.0,NaN,NaN,NaN
167,Ward 5,DCPS,Phelps Architecture Construction and Engineeri...,High,NaN,NaN,NaN,NaN,323.0,328.0,NaN,NaN,NaN
169,Ward 6,DCPS,Amidon Bowen ES,Elementary/Middle,NaN,NaN,NaN,NaN,345.0,350.0,NaN,NaN,NaN
170,Ward 6,DCPS,Brent ES,Elementary,NaN,NaN,NaN,NaN,368.0,404.0,NaN,NaN,NaN
171,Ward 6,DCPS,Capitol Hill Montessori School at Logan,Elementary/Middle,NaN,NaN,NaN,NaN,310.0,361.0,NaN,NaN,NaN
173,Ward 6,DCPS,Eliot Hine MS,Middle,NaN,NaN,NaN,NaN,257.0,200.0,NaN,NaN,NaN
174,Ward 6,DCPS,J O Wilson ES,Elementary,NaN,NaN,NaN,NaN,466.0,495.0,NaN,NaN,NaN
176,Ward 6,DCPS,Ludlow Taylor ES,Elementary,NaN,NaN,NaN,NaN,340.0,373.0,NaN,NaN,NaN
177,Ward 6,DCPS,Maury ES,Elementary,NaN,NaN,NaN,NaN,366.0,387.0,NaN,NaN,NaN
178,Ward 6,DCPS,Miner ES,Elementary,NaN,NaN,NaN,NaN,398.0,384.0,NaN,NaN,NaN
179,Ward 6,DCPS,Payne ES,Elementary,NaN,NaN,NaN,NaN,277.0,300.0,NaN,NaN,NaN
180,Ward 6,DCPS,Peabody ES Capitol Hill Cluster,Early Childhood,NaN,NaN,NaN,NaN,227.0,230.0,NaN,NaN,NaN
181,Ward 6,DCPS,School Within School at Goding,Elementary,NaN,NaN,NaN,NaN,248.0,307.0,NaN,NaN,NaN
182,Ward 6,DCPS,Seaton ES,Elementary,NaN,NaN,NaN,NaN,295.0,341.0,NaN,NaN,NaN
183,Ward 6,DCPS,Stuart Hobson MS Capitol Hill Cluster,Middle,NaN,NaN,NaN,NaN,423.0,431.0,NaN,NaN,NaN
184,Ward 6,DCPS,Tyler ES,Elementary,NaN,NaN,NaN,NaN,522.0,514.0,NaN,NaN,NaN
186,Ward 6,DCPS,Walker Jones EC,Elementary/Middle,NaN,NaN,NaN,NaN,465.0,451.0,NaN,NaN,NaN
187,Ward 6,DCPS,Watkins ES Capitol Hill Cluster,Elementary,NaN,NaN,NaN,NaN,500.0,436.0,NaN,NaN,NaN
193,Ward 7,DCPS,Houston ES,Elementary,NaN,NaN,NaN,NaN,279.0,299.0,NaN,NaN,NaN
196,Ward 7,DCPS,Nalle ES,Elementary,NaN,NaN,NaN,NaN,384.0,391.0,NaN,NaN,NaN
214,Ward 8,DCPS,Leckie ES,Elementary/Middle,NaN,NaN,NaN,NaN,478.0,552.0,NaN,NaN,NaN
219,Ward 8,DCPS,Simon ES,Elementary,NaN,NaN,NaN,NaN,293.0,276.0,NaN,NaN,NaN